<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.0.1" targetFramework="net40-Client" />
  <package id="AutoMapper" version="2.2.1" targetFramework="net40-Client" />
  <package id="Common.Logging" version="2.1.2" targetFramework="net40-Client" />
  <package id="Common.Logging.Log4Net1211" version="2.1.2" targetFramework="net40-Client" />
  <package id="HareDu" version="1.0.0" targetFramework="net40-Client" />
  <package id="log4net" version="2.0.0" targetFramework="net40-Client" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net40-Client" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" targetFramework="net40-Client" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net40-Client" />
  <package id="mongocsharpdriver" version="1.7.1" targetFramework="net40-Client" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40-Client" />
  <package id="Quartz" version="2.1.2" targetFramework="net40-Client" />
  <package id="TopShelf" version="3.1.0" targetFramework="net40-Client" />
  <package id="Topshelf.Log4Net" version="3.1.0" targetFramework="net40-Client" />
</packages>