<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="HareShowRuntimeSettings">
      <section name="EventTrigger" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
    <sectionGroup name="HareDuSettings">
      <section name="Client" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="Login" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
  </configSections>
  <HareShowRuntimeSettings>
    <EventTrigger>
      <add key="startDateTime" value="" />
      <add key="runInterval" value="00:00:01" />
    </EventTrigger>
  </HareShowRuntimeSettings>
  <HareDuSettings>
    <Client>
      <add key="url" value="http://localhost:15672" />
      <add key="logger" value="HareDuLogger" />
    </Client>
    <Login>
      <add key="username" value="guest" />
      <add key="password" value="guest" />
    </Login>
  </HareDuSettings>
</configuration>